article {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(231, 224, 224);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    grid-template-areas: 
        "header searchForm searchForm"
        "addForm songList songList"
        "addForm songList songList"
    ;
}

header {
    grid-area: header;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    grid-area: addForm;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    max-width: 310px;
}

input {
    max-width: 100px;
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 5px;
}

select {
    width: 100px;
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 5px;
}

.add-btn {
    max-width: 70px;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    grid-area: searchForm;
}
.reset-btn {
    max-width: 100px;
    background-color: rgb(228, 222, 222);
    border-color: blue;
    color: blue;
    max-height: 30px;
    align-self: center;
}

nav {
    grid-area: songList;
}

ul {
    list-style: none;
    padding: 0;
}

.list-song {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
}

.song-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.heading {
    font-size: 2rem;
}

.score {
    align-self: center;
}

.score-btn {
    align-self: center;
}

.add-score-btn {
    background-color: blue;
    color: white;
}

.remove-btn {
    align-self: center;
}

.delete-btn {
    color: transparent;
    background-image: url('./assets/trash.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    background-color: transparent;
}

.pic {
    max-width: 100px;
    border-radius: 5px;
}

#picture {
    border: none;
    color: transpare;
}